<html>
	<head>
		<title>JMail! like the other but better</title>
		<script type="text/javascript" src="..."></script>
	</head>
	<body>
		<div id="sidebar">
			<ul>
				<li><a href="...">InBox</a></li>
				<li><a href="...">Compose Mail</a></li>
				<li><a href="...">Sent</a></li>
				<li><a href="...">Trash</a></li>
			</ul>
		</div>
	</body>
</html>