<div id="compose" style="display: none">
	<form>
	  	<fieldset>
			<legend>Mail</legend>
				<label for="to">From</label><input type="mail" id="to" /><br />
				<label for="subject">Subject</label><input type="text" id="subject" /><br />
				Content <br />
				<textarea rows="2" cols="20" id="mailbody"></textarea>
		</fieldset>


		<input type="submit" value="Submit" />
	</form>
</div>