<div id="compose" style="display: none">
	<form>
		<input type="text" id="from" />
		<input type="text" id="to" />
		<input type="text" id="to" />
		<input type="text" id="subject" />
		<textarea rows="2" cols="20" id="mailbody"></textarea>
		<input type="submit" value="Submit" />
	</form>
</div>