<script id="inboxMailTemplate" type="text/x-jquery-tmpl">
    <li class="mail"><b>${from}</b> ${subject}</li>
</script>

<script id="inboxEmptyTemplate" type="text/x-jquery-tmpl">
    <li>The inbox is empty</li>
</script>